server {
    listen 80;
    listen [::]:80;

    server_name {{ item.domain_name }};

    {% if item.http2_enabled %}
    location /.well-known {
        alias /var/lib/dehydrated;
    }

    return 301 https://$server_name$request_uri;
    {% else %}
    client_max_body_size 20M;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/run/uwsgi/{{ item.domain_name }}.sock;
    }

    location /static {
        alias /srv/www/{{ item.domain_name }}/{{ item.project_name }}/static;
    }

    {% endif %}
}
{% if item.http2_enabled %}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    ssl on;
    ssl_certificate /var/lib/dehydrated/certs/{{ item.domain_name }}/fullchain.pem;
    ssl_certificate_key /var/lib/dehydrated/certs/{{ item.domain_name }}/privkey.pem;
    ssl_session_timeout 5m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_dhparam /etc/ssl/certs/dhparam.pem;
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;

    server_name {{ item.domain_name }};
    client_max_body_size 20M;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/run/uwsgi/{{ item.domain_name }}.sock;
    }

    location /static {
        alias /srv/www/{{ item.domain_name }}/{{ item.project_name }}/static;
    }

    location /.well-known {
        alias /var/lib/dehydrated;
    }
}
{% endif %}
