###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/environment.html
###

[app:main]
use = egg:{{ item.project_name }}

pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false

production_mode = true

# activate some useful filters of jinja2
jinja2.filters =
    route_url = pyramid_jinja2.filters:route_url_filter
    static_url = pyramid_jinja2.filters:static_url_filter
    route_path = pyramid_jinja2.filters:route_path_filter
    static_path = pyramid_jinja2.filters:static_path_filter

# pyramid_beaker
session.type = file
session.data_dir = %(here)s/data/sessions/data
session.lock_dir = %(here)s/data/sessions/lock
session.key = {{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits') }}
session.secret = {{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits') }}
session.cookie_on_exception = true

{% if item.db_name %}

# database settings
#
# Note that you need to install the real database driver
# by yourself, like mysql-connector-python.
# The url syntax can be found here: http://docs.sqlalchemy.org/en/latest/core/engines.html
#sqlalchemy.url = mysql+mysqlconnector://DB_USER:DB_PASS@DB_HOST/DB_NAME
sqlalchemy.url = mysql+pymysql://{{ item.db_user }}:{{ item.db_pass }}@{{ item.db_host }}/{{ item.db_name }}?charset={{ item.db_encoding }}

{% endif %}

# By default, the toolbar only appears for clients from IP addresses
# '127.0.0.1' and '::1'.
#debugtoolbar.hosts = 127.0.0.1 ::1


###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/logging.html
###

[loggers]
keys = root, {{ item.project_name }}

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_{{ item.project_name }}]
level = DEBUG
handlers =
qualname = {{ item.project_name }}

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
