###
# app configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###

[app:main]
use = egg:{{ item.project_name }}

pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false

# activate some useful filters of jinja2
jinja2.filters =
    route_url = pyramid_jinja2.filters:route_url_filter
    static_url = pyramid_jinja2.filters:static_url_filter
    route_path = pyramid_jinja2.filters:route_path_filter
    static_path = pyramid_jinja2.filters:static_path_filter

# secret key for pyramid security framework
auth.secret = {{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits') }}

# pyramid_beaker settings
session.type = file
session.data_dir = %(here)s/data/sessions/data
session.lock_dir = %(here)s/data/sessions/lock
session.key = {{ item.project_name }}
session.secret = {{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits') }}
session.cookie_on_exception = true

{% if item.db_name %}
sqlalchemy.url = mysql+pymysql://{{ item.db_user }}:{{ item.db_pass }}@{{ item.db_host }}/{{ item.db_name }}?charset={{ item.db_encoding }}
sqlalchemy.pool_recycle = 3600

retry.attempts = 3

[alembic]
# path to migration scripts
script_location = {{ item.base_dir }}/{{ item.project_name }}/alembic
file_template = %%(year)d%%(month).2d%%(day).2d_%%(rev)s
# file_template = %%(rev)s_%%(slug)s
{% endif %}

###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
listen = *:6543

###
# logging configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, {{ item.project_name }}, sqlalchemy, alembic

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = console

[logger_{{ item.project_name }}]
level = WARN
handlers =
qualname = {{ item.project_name }}

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[logger_alembic]
level = INFO
handlers =
qualname = alembic

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s
